// Define variables for your color scheme

// For example:
$red: #a40718; // rgb(164, 7, 24)  
$blue: #167FFB; // rgb(4, 108, 231)
$yellow: #EECF6D;
$orange: #D5AC4E; //  rgb(213, 172, 78)
$green: #1EDD88;
$gray: #706f6c; // rgb(112, 111, 108)
$light-gray: #f1f1f1; // rgb(241, 241, 241) 