// Define variables for your color scheme

// For example:
$red: #a40718; // rgb(164, 7, 24)  hsl(354, 92%, 34%)
$blue: #167FFB;
$yellow: #EECF6D;
$orange: #D5AC4E;
$green: #1EDD88;
$gray: #6d6f71; // rgb(109, 111, 113) hsl(210, 2%, 44%)
$light-gray: #f1f1f1; // rgb(241, 241, 241) hsl(0, 0%, 95%)