<div class="footer">
  <div class="footer-links">
    <%= link_to "Sample Hub", root_path %>
    <a href="https://www.inca.gov.br/">Inca</a>
  </div>
  <div class="footer-copyright">
    <span>
    Facilite sua vida e evite retrabalho. Uma iniciativa do Instituto Nacional de Câncer.
    </span>
  </div>
</div>