<% provide(:title, 'About us') %>
<div class="container-xxl my-5" style="padding: 0 100px;">
  <h2 class="text-center text-uppercase">Sobre a equipe Sample Hub</h2>
  <div class="cards">
    <div class="card">
      <%= image_tag 'vinicius.jpeg', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Vinicius Stelet</h5>
        <p class="card-text">
          Sou muito motivado quando se fala em aprender coisas novas em praticamente qualquer coisa. Razão pela qual sendo servidor público no Instituto Nacional do Câncer com graduação em Biomedicina, decidi acrescentar ao meu skillset a capacidade de desenvolver soluções e ferramentas web com foco na área da saúde.
        </p>
      </div>
    </div>
    <div class="card">
      <%= image_tag 'claudia.jpeg', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Claudia Tanaka</h5>
        <p class="card-text">
          I am a Brazilian public servant, currently serving at Agência Nacional de Saúde Suplementar. I am fascinated with the possibilities that Data Science tools have opened for regular knowledge workers like me. My background is in Business and before joining the public sector, I worked for 15 years in the private sector both in Brazil and other countries.
        </p>
      </div>
    </div>
    <div class="card">
      <%= image_tag 'edson.jpeg', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Edson Dario</h5>
        <p class="card-text">
          Já trabalhei por vários anos com tecnologia da informação de forma autônoma. Hoje sou servidor público, espero aprender bastante e melhorar o serviço público prestado a sociedade.
        </p>
      </div>
    </div>
    <div class="card">
      <%= image_tag 'luis.jpeg', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Luís Simões</h5>
        <p class="card-text">
          Natural de Rio Claro-SP e morador de Campinas-SP há 12 anos, servidor no LFDA-SP/MAPA desde 2014, Bacharel em Química pela Unicamp, Doutorado em andamento também na Unicamp, e agora bootcamper LeWagon empenhado em auxiliar o INCA.
        </p>
      </div>
    </div>
  </div>
</div>