<% provide(:title, 'Home') %>

<div class="banner" 
    style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
          url('/assets/banner-home.jpg');">
  <div class="container">
    <h1>Sample Hub Inca</h1>
    <p>Controle de envio de amostras</p>
  </div>
</div>

<div class="container">
</div>