<% provide(:title, 'Home') %>

<div class="banner" 
    style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), 
          url('/assets/banner-principal-700x250px-dncc2020-inca.png');">
</div>

<div class="container">

</div>