<div class="container">
  <h1 class="text-center">Pacientes</h1>
  <hr>
  
  <form id="search-patient" class="text-left form-inline">
    <input id="keyword" type="text" class="form-control ml-auto mr-2" placeholder="Nome...">
    <input type="submit" class="btn btn-primary mr-auto ml-2" value="Buscar">
  </form>
  
  <ul id="results" class="list-inline"></ul>
</div>