<!--<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center border border-primary mb-3 mt-5 p-2 shadow-sm">
      <h3>Cadastre o novo paciente</h3>
    </div>
    <div class="col-12">
      <%= render "new" %>
    </div>
  </div>
</div>-->
