.btn-gradient {
  color: white;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;

  &:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
}
