.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand {
    margin-bottom: 5px;
    padding: 0;
    img {
      width: 80px;
      object-fit: cover;
    }
  }
}
