<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <% @procedures.each do |procedure|%>
      <div class="card-body">
        <h5 class="card-title"><%= procedure.cd_exame %> </h5>
        <h5 class="card-title"><%= procedure.cd_sus %> </h5>
        <p class="card-text"><%= procedure.description  %> </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <% end %>
    </div>
  </div>
</div>

