// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  position: relative;
  min-height: 100%;
  body {
    margin: 0 0 100px;
    background-color: #f2eded;
  }
}
