// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "select2/dist/css/select2";

html {
  position: relative;
  min-height: 100%;
  body {
    margin: 0 0 100px;
    background-color: #eff2f4;
  }
}
.my-form-control {
  height: calc(1.5em + 2px);
  text-align: center;
  
}
#btn-tbl {
  padding: 5px;
  margin: 0;
  color: white;
  border: none;
  border-radius: 4px;
  background: $primary;
  transition: background 0.3s ease;
}

a {
  text-decoration: none;
}